$primary-color: #3498db;
$secondary-color: #2c3e50;
$border-color: #dcdcdc;
$background-color: linear-gradient(45deg, #ffb6c1, #87ceeb);

.announcement-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 4px;
  gap: 20px;

  input[type='text'] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $border-color;
    border-radius: 4px;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
}

.announcement-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .announcement {
    width: calc(33.33% - 20px);
    height: 200px;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;

    a {
      text-decoration: none;
      color: $secondary-color;
      display: flex;
      justify-content: center;
      height: 100%;

      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }

      .announcement-box {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 24px;
          margin-bottom: 10px;
          color: $secondary-color;
        }

        p {
          font-size: 16px;
          color: $secondary-color;
          opacity: 0.8;
        }
      }
    }
  }
}

.announcement-container {
  margin-top: 20px;
}

h1 {
  font-size: 32px;
  color: $secondary-color;
  padding: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
  text-align: left;
  background: $background-color;
}

.announcement-box {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}

/* Additional style for color gradient effect */
.announcement-box:nth-child(1) {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.announcement-box:nth-child(2) {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.announcement-box:nth-child(3) {
  background: linear-gradient(to right, #00b4db, #0083b0);
}

.announcement-box:nth-child(4) {
  background: linear-gradient(to right, #c33764, #1d2671);
}
