.feedback {
  background-color: #31b0d5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  position: fixed;
  bottom: -4px;
  right: 10px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.clicked {
  bottom: 500px;
  background-color: #d53131;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #d53131;
  z-index: 1000;
}
