/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 105%;
  height: 497px;
  /*background: url('../../../content/images/jhipster_family_member_0.svg') no-repeat center top;*/
  background-size: contain;
}

//start of snippet
.home {
  font-family: 'Droid Sans';
}

//end of snippet

.react-calendar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 300px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.social-media a {
  margin-right: 10px;
  margin-bottom: 10px;
}

.eventcard {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

:root {
  --font-headline: 'ABC Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-loader {
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 3rem;
}

.welcomeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}
