/*.search-bar {

}

.search {
  background-color: #eee;
  width: 20vw;
  height: 5vh;
}*/
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 1.2rem;
}

/*input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 18px;
}*/

input {
  margin-left: 18px;
  border-radius: 5px;
}

.user-profile.light-mode {
  background-color: white;
  color: black;
}

.user-profile.dark-mode {
  background-color: darkgrey;
  color: white;
}

.search {
  background-color: white;
  width: 50vw;
  height: 15vh;
  float: left;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.search-bar {
  padding-top: 2vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  /*.search {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;

    .search-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        margin-right: 10px;
      }
    }
  }*/

  .toggle-mode {
    position: absolute;
    top: 20px;
    right: 70px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 37px;
  }

  .basic-info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;

    h1 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .info-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .info-label {
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 5px;
        flex: 1 0;
      }

      .info-value {
        margin-right: 20px;
        margin-bottom: 5px;
        flex: 1;
      }
    }
  }

  .more-about-me {
    width: 100%;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 20px;
    }

    .info-column {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;

      .info-row {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        flex-wrap: wrap;

        .info-label {
          width: 8rem;
          font-weight: bold;
          //margin-right: 20px;
          margin-right: 10px;
          margin-bottom: 25px;
        }

        .info-value {
          flex: 1;
          margin-bottom: 25px;
        }

        .edit-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          font-size: 16px;
          cursor: pointer;
          margin-right: 18px;
          margin-bottom: 25px;
        }

        .save-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          font-size: 16px;
          cursor: pointer;
          margin-right: 18px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
