//.forumcard:hover {
//  border: 1px solid #00b2ff;
//}
.forumcard {
  max-width: 650px;
  transition: box-shadow 0.3s ease-in-out; /* Add a transition to the box-shadow property */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a default box-shadow */
  padding: 0rem;
  margin: 10px auto 0;
}

.forumcard:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Increase the box-shadow on hover */
  transform: translateY(-5px); /* Add a slight upward translation on hover */
}

.app-container .view-container .card {
  padding: 0rem;
}

.addtxt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 350px;
  background-color: #e5e8ed;
  font-weight: 500;
}
.form-control:focus {
  color: #000;
}
.second {
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b;
}

.thumbup {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
}
.thumbupo {
  color: #17a2b8;
}
